<main class="container">
    <div class="row">
        
        <h3>The following authors exist in the system:</h3>
        <small><button type="button" class="btn btn-default btn-sm btn-success" ng-click="addNewItem()">create new author</button></small>

        <!--<div class="alert alert-warning" ng-show="authorErrorMessage">{{authorErrorMessage}}</div>-->
    
        <div ui-grid="gridOptions" ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-save-state ui-grid-selection class="grid"></div>
    
    </div>
</main>

