<main class="container">
    <div class="row">
        
        <h3>The following authors exist in the system:</h3>
        <small><button type="button" class="btn btn-default btn-sm btn-success" ng-click="addNewItem()">create new author</button></small>
        <!--<span ng-show="temp.name =='New Author'"><p>Please modify.</p></span>-->
    
        <div ui-grid="gridOptions" ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-save-state ui-grid-selection class="grid"></div>
    
        <!--<button type="button" class="btn btn-default btn-sm btn-danger" ng-click="deleteSelected()">Delete Selected Authors</button>-->
    
    </div>
</main>

