<main class="container">
<div class="row">
    
        <h3>The following books exist in the system:</h3>

        <!--this is the book grid-->
        <div ui-grid="bookGridOptions" ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-save-state ui-grid-constants ui-grid-selection class="grid"></div>

        <button type="button" class="btn btn-default btn-sm btn-warning button-spacing" ng-click="deleteSelected()" ng-hide="!edit">Delete Selected Books</button>
        
        <button type="button" class="btn btn-default btn-success btn-sm button-spacing" ng-click="openModal()" ng-hide="!edit">Create New Book</button>

<!------------new book modal------------>

<modal id="bookModal">
    <div class="modal" id="bookModalBody">
        <div class="modal-content">
            <h2>Please complete all fields:</h2>
           
            <form name="modalForm" novalidate>
                
                <label for="name">Enter Title: 
                    <input ng-model="newTitle" type="text" name="title" required>
                </label>
                <br>
                
                <label for="author">Select Author: 
                    <select required name="authorSelect" ng-model="newAuthor" ng-options="item.id as item.name for item in authorNameDropdown track by item.id">
                          <option value="" selected="selected">Choose Author</option>
                    </select>
                </label>
                <br>
                
                <label for="genre">Select Genre: 
                    <select required name="genreSelect" ng-model="newGenre">
                      <option value="" selected="selected">Choose Genre</option>
                      <option ng-repeat="genre in genreTypesModal">{{genre}}</option>
                    </select>
                </label>
                <br>
                
                <span>
                    <button type="submit" ng-click="addNewBook()" ng-disabled="!modalForm.$valid" class="btn btn-success">Save</button>
                    <button ng-click="closeModal()" class="btn btn-warning">Cancel</button>
                </span>
                
            </form>
        </div>
    </div>
    <div class="modal-background"></div>
  </modal>

 </div>
</main>