<nav  ng-controller="navCtrl" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="home">Library Information System</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a ui-sref="books">Books</a></li>
        <li><a ui-sref="authors">Authors</a></li>
    </ul>
    <div data-ng-controller="loginCtrl">
    <div ng-show="loggedIn"><p class="navbar-text navbar-right">Logged in as {{logInName}}, <a href="#" class="navbar-link" ng-click="logOut()">Log Out</a></p></div>
    </div>
  </div>
</nav>   